.featureCard:hover .featureCardIcon
{
    background-image: linear-gradient(30.55deg, #6ac7ff 11.05%, #148aff 90.09%);
    box-shadow: 0px 4px 22px rgb(202 202 202 / 25%);    ;
}

.featureCard:hover .featureCardSVG
{
    filter: drop-shadow(0px 2px 22px rgba(202, 202, 202, 0.25));
    stroke-opacity: 0 !important;
}

.featureCard:hover .featureCardBox
{
    background-image: url(https://codehelp-razorpay-clone.netlify.app/assets/features-wave.svg);
    background-repeat: no-repeat;
    background-position: bottom 1rem right;
}

.moveImage
{
    animation: 10s infinite linear moveCompany;
}

@keyframes moveCompany {
    0%{
        top: 0;
    }
    100%
    {
        top: -50%
    }
}

.gradientTop
{
    background: linear-gradient(180deg, #f3f8ff, #fff0);
}
.gradientBottom
{
    background: linear-gradient(0deg, #f3f8ff, #fff0);
}